<div id="changeBarText">
    <div>
        <div class="context_container">
            <textarea id="textArea"></textarea>
        </div>
        <div class="input_container">
            <input type="submit" id="textSubmit" />
            <input type="reset" id="textReset" />
            <input type="submit" class="btn_back" value="Назад" />
        </div>
    </div>
</div>
<div id="changeBarImg">
    <div>
        <div class="context_container">
            <img id="imgArea" />
            <img id="imgNewArea" />
        </div>
        <div class="input_container">
            <input type="file" id="newImageFile" />
            <input type="submit" id="imgSubmit" />
            <input type="reset" id="imgReset" />
            <input type="submit" class="btn_back" value="Назад" />
        </div>
    </div>
</div>
<div id="btn_change">
    <i id="icon_youtube" class="fa fa-pencil fa-1_3x" aria-hidden="true"></i>
</div>