<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.8  user-scalable=no">
    <meta charset="utf-8">

    <meta name="keywords" content="автосервис йошкар-Ола, автозвук йошкар-ола, автосигнализации йошкар ола, тонировка йошкар ола, шумоизоляция йошкар-ола, установочный центр сигнализаций йошкар-Ола, установка шумоизоляции йошкар-Ола, боссавто, bossauto">
    <meta name="description" content="Автозвук, Автосигнализации, Тонировка, Шумоизоляция в Йошкар-Оле, Номер телефона: 8 (8362) 90-07-77 Адрес: ул. Фестивальная, д.72, Йошкар-Ола">

    <meta name="author" content="ReZEN">

    <meta name="yandex-verification" content="47c4ed357fb9cc9b" />
    <meta name="yandex-verification" content="d7d808151af8a901" />
    <meta name="google-site-verification" content="2o2gIpiDk5N4kvt5J4JfDPgFPPrMYe87PeE8hs5sqkE" />
    <meta name="google-site-verification" content="AyxYGIMzaDSdW13gEQ2-WO6MbJbiQzyBagwdwY" />

    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" href="~/css/Resource/Icons/css/Resource/Icons/apple-touch-icon.png">
    <link rel="icon" href="~/css/Resource/Icons/favicon.ico" sizes="any">
    <link rel="icon" href="~/css/Resource/Icons/icon.png" type="image/png">
    <link rel="manifest" href="~/css/Resource/Icons/manifest.webmanifest">
    <link rel="yandex-tableau-widget" href="~/tableau.json">

    @RenderSection("Style", false)
</head>
<body>
    @RenderBody()
    @RenderSection("Script", false)
</body>
</html>
