
@media(max-width: 1100px) {
    /*Navigation*/
    #navbar_center {
        display: none;
    }

    #navbar_right {
        display: none;
    }

    #burger {
        display: flex !important;
    }
    /*Contacts*/
    #map iframe {
        pointer-events: none;
    }

    #welcome {
        grid-area: 2 / 2 / 5 / 40 !important;
    }

    #map {
        grid-area: 6 / 2 / 20 / 40 !important;
        cursor: pointer;
    }

    #location {
        grid-area: 21 / 2 / 23 / 40 !important;
    }

    #schedule {
        grid-area: 24 / 2 / 37 / 40 !important;
    }

    #phone {
        grid-area: 38 / 2 / 40 / 40 !important;
    }
    /*AutoSound*/
    #autoSoundScreen .text {
        grid-area: 6 / 2 / 22 / 40 !important;
    }

    #autoSoundScreen .slider {
        grid-area: 23 / 2 / 40 / 40 !important;
    }
    /*Автосигнализация*/
    #alarmsScreen .title {
        grid-area: 2 / 2 / 4 / 40 !important;
    }
    #alarmsScreen .text {
        grid-area: 5 / 2 / 16 / 40 !important;
    }

    #alarmsScreen .slider {
        grid-area: 27 / 2 / 40 / 40 !important;
    }

    #alarmsScreen .priceList {
        grid-area: 17 / 2 / 26 / 40 !important;
    }
    /*Tinting*/
    #tintingScreen .title {
        grid-area: 2 / 2 / 4 / 40 !important;
    }

    #tintingScreen .text {
        grid-area: 5 / 2 / 16 / 40 !important;
    }

    #tintingScreen .slider {
        grid-area: 27 / 2 / 40 / 40 !important;
    }

    #tintingScreen .priceList {
        grid-area: 17 / 2 / 26 / 40 !important;
    }
    /*Insulation*/
    #insulationScreen .text {
        grid-area: 6 / 2 / 22 / 40 !important;
    }

    #insulationScreen .slider {
        grid-area: 23 / 2 / 40 / 40 !important;
    }
}

@media (min-height: 800px) {
    #contactsScreen {
        font-size: 9px !important;
    }
}

@media (max-height: 800px) {
    #contactsScreen {
        font-size: 8px !important;
    }
}

@media (max-height: 700px) {
    #contactsScreen {
        font-size: 6.5px !important;
    }
}

@media (max-height: 600px){
    #contactsScreen {
        font-size: 5.5px !important;
    }
}

@media (max-height: 500px) {
    #contactsScreen {
        font-size: 5px !important;
    }
}

@media (max-height: 450px) {
    #contactsScreen {
        font-size: 4px !important;
    }
}

@media(max-width: 900px) {
    html {
        --differenceSizeFont: 0.5em !important;
    }
}

@media(max-width: 450px) {
    html {
        --differenceSizeFont: 1em !important;
    }
}