
.moveableBlock {
    transition: background 0.2s ease;
    background: var(--sub_colorBackground);
    color: var(--sub_colorText);
    box-shadow: 0px 0px 7px #979797;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.moveableBlock.grabbing {
    cursor: grabbing;
}

/*Contacts*/
#contactsScreen {
    background-color: #ffda47;
    font-size: 10px;
}
#welcome {
    grid-area: 2 / 2 / 5 / 22;
    font-size: 4em;
}
#location {
    grid-area: 28 / 2 / 36 / 22;
    font-size: 2.5em;
}
#schedule {
    grid-area: 6 / 2 / 27 / 22;
    font-size: 3em;
}
#phone {
    grid-area: 37 / 2 / 39 / 22;
    font-size: 2em;
}
#map {
    grid-area: 2 / 23 / 39 / 40;
    user-select: none;
}
#map iframe {  
    width: 100%;
    height: 100%;
}

/*Автозвук*/
#autoSoundScreen {
    z-index: 1;
    background-color: white;
    font-size: 10px;
}
#autoSoundScreen .title {
    grid-area: 2 / 2 / 5 / 40;
    font-size: 5em;
}
#autoSoundScreen .text {
    grid-area: 6 / 2 / 40 / 22;
    display: block;
    text-align: left;
    font-size: 2.5em;
    padding-left: 20px;
}
#autoSoundScreen .slider {
    grid-area: 6 / 23 / 40 / 40;
}

/*Автосигнализация*/
#alarmsScreen {
    z-index: 1;
    background-color: #b8b8ff;
    font-size: 10px;
}
#alarmsScreen .title {
    grid-area: 2 / 2 / 5 / 40;
    font-size: 5em;
}

    #alarmsScreen .text {
        grid-area: 6 / 2 / 25 / 22;
        text-align: left;
        font-size: 2.4em;
        padding-left: 20px;
    }

    #alarmsScreen .priceList {
        grid-area: 26 / 2 / 40 / 22;
        font-size: 2em;
    }

    #alarmsScreen .slider {
        grid-area: 6 / 23 / 40 / 40;
    }
/*Тонирвка*/
#tintingScreen {
    z-index: 1;
    background-color: #76b041;
    font-size: 10px;
}
    #tintingScreen .title {
        grid-area: 2 / 2 / 5 / 40;
        font-size: 5em;
    }

    #tintingScreen .text {
        grid-area: 6 / 2 / 25 / 22;
        text-align: left;
        font-size: 2.5em;
        padding-left: 20px;
    }

    #tintingScreen .priceList {
        grid-area: 26 / 2 / 40 / 22;
        font-size: 2em;
    }

    #tintingScreen .slider {
        grid-area: 6 / 23 / 40 / 40;
    }
/*Шумоизоляция*/
#insulationScreen {
    z-index: 1;
    background-color: #f5cb5c;
    font-size: 10px;
}

    #insulationScreen .title {
        grid-area: 2 / 2 / 5 / 40;
        font-size: 5em;
    }

    #insulationScreen .text {
        grid-area: 6 / 2 / 40 / 22;
        text-align: left;
        padding: 10px;
        font-size: 2.5em;
        padding-left: 20px;
    }

    #insulationScreen .slider {
        grid-area: 6 / 23 / 40 / 40;
    }
